{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block head %} 

{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center" style="margin-top: 5rem;">
        <h1>Encuentra tus recetas favoritas!</h1>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 2rem; ">

        <form method="POST" action="/" class="grid" novalidate style="width: 80%; margin-bottom: 3rem;">
            
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
        
            <p>¿Qué ingredientes tienes en casa?</p>

            <div class="input" style="margin-top: 1rem; margin-bottom: 2rem;">
                {{ form.input_ingredients(placeholder="Escribe los ingredientes en minuscula y separados por ENTER...") }}
            </div>

            <p>¿Tienes alguna alergia?</p>


            <div style= "margin-top: 1rem;">
                {{ form.input_allergies }}
            </div>
            
            <div class="d-flex justify-content-center" style="margin-top: rem;">
                {# form.searchButton(class="btn btn-danger")#}
                <button type="submit" class="btn btn-danger" name="searchButton" value="x">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    Buscar
                </button>
                
               
            </div>
            
        </form>     
    </div>

    
    

    
{% endblock %}